/* color code */
/* line 10, ../scss/signup.scss */
.signup-page {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
/* line 17, ../scss/signup.scss */
.signup-page .signup-content {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  height: 524px;
  max-height: 524px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 570px;
  z-index: 2;
}
/* line 28, ../scss/signup.scss */
.signup-page .signup-content.signup-complete {
  height: auto;
  max-height: 600px;
  width: 448px;
}
/* line 35, ../scss/signup.scss */
.signup-page .signup-head {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url('images/sign-up.gif?1472143917') 0 0 no-repeat;
  height: 262px;
  padding: 70px 20px 70px 260px;
}
/* line 41, ../scss/signup.scss */
.signup-page .signup-head .txt {
  color: #333437;
  font-size: 24px;
}
/* line 45, ../scss/signup.scss */
.signup-page .signup-head .txt p {
  margin: 0;
  padding: 0;
}
/* line 50, ../scss/signup.scss */
.signup-page .signup-head .txt.warning {
  color: #ff5b2f;
}
/* line 54, ../scss/signup.scss */
.signup-page .signup-head .txt .note {
  color: #7d7e88;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}
/* line 63, ../scss/signup.scss */
.signup-page .signup-form {
  padding: 52px 0 68px;
}
/* line 66, ../scss/signup.scss */
.signup-page .signup-form input[type="text"],
.signup-page .signup-form input[type="password"],
.signup-page .signup-form input[type="date"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  border: 2px dashed #fff;
  color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 54px;
  padding: 0 20px;
  width: 100%;
}
/* line 61, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.signup-page .signup-form input[type="text"]:-moz-placeholder,
.signup-page .signup-form input[type="password"]:-moz-placeholder,
.signup-page .signup-form input[type="date"]:-moz-placeholder {
  color: #c2c2c7;
}
/* line 64, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.signup-page .signup-form input[type="text"]::-moz-placeholder,
.signup-page .signup-form input[type="password"]::-moz-placeholder,
.signup-page .signup-form input[type="date"]::-moz-placeholder {
  color: #c2c2c7;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.signup-page .signup-form input[type="text"]:-ms-input-placeholder,
.signup-page .signup-form input[type="password"]:-ms-input-placeholder,
.signup-page .signup-form input[type="date"]:-ms-input-placeholder {
  color: #c2c2c7;
}
/* line 56, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.signup-page .signup-form input[type="text"]::-webkit-input-placeholder,
.signup-page .signup-form input[type="password"]::-webkit-input-placeholder,
.signup-page .signup-form input[type="date"]::-webkit-input-placeholder {
  color: #c2c2c7;
}
/* line 80, ../scss/signup.scss */
.signup-page .signup-form input[type="text"]:focus,
.signup-page .signup-form input[type="password"]:focus,
.signup-page .signup-form input[type="date"]:focus {
  outline: none;
}
/* line 85, ../scss/signup.scss */
.signup-page .signup-form .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* line 94, ../scss/signup.scss */
.signup-page .signup-form .btn-upload {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  border: 2px dashed #fff;
  display: block;
  color: #c2c2c7;
  font-size: 20px;
  height: 60px;
  line-height: 54px;
  padding: 0 20px 0 230px;
  position: relative;
}
/* line 106, ../scss/signup.scss */
.signup-page .signup-form .btn-upload:hover {
  cursor: pointer;
}
/* line 110, ../scss/signup.scss */
.signup-page .signup-form .btn-upload::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #aaaab5;
  border-bottom: 2px solid #9c9eac;
  color: #fff;
  content: "Get image";
  height: 52px;
  font-size: 16px;
  left: 2px;
  line-height: 52px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 200px;
}
/* line 129, ../scss/signup.scss */
.signup-page .signup-form .btn-upload span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 316px;
  white-space: nowrap;
}
/* line 138, ../scss/signup.scss */
.signup-page .signup-form .form-button {
  font-size: 0;
  margin-top: 30px;
}
/* line 142, ../scss/signup.scss */
.signup-page .signup-form .form-button button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #212121 0 2px 0;
  -webkit-box-shadow: #212121 0 2px 0;
  box-shadow: #212121 0 2px 0;
  background: #333437;
  color: #fff;
  border: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  margin-left: 10px;
  min-width: 120px;
  padding: 0 15px;
  text-transform: uppercase;
}
/* line 157, ../scss/signup.scss */
.signup-page .signup-form .form-button button:first-child {
  margin-left: 0;
}
/* line 161, ../scss/signup.scss */
.signup-page .signup-form .form-button button > span {
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  margin-left: 5px;
}
/* line 167, ../scss/signup.scss */
.signup-page .signup-form .form-button button > span .bold {
  font-weight: 600;
}
/* line 173, ../scss/signup.scss */
.signup-page .signup-form .form-button .next {
  -moz-box-shadow: #099ca5 0 2px 0;
  -webkit-box-shadow: #099ca5 0 2px 0;
  box-shadow: #099ca5 0 2px 0;
  background: #00bac6;
  padding-left: 85px;
  position: absolute;
}
/* line 179, ../scss/signup.scss */
.signup-page .signup-form .form-button .next::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #099ca5;
  content: "Next";
  height: 35px;
  font-weight: 600;
  left: 8px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 75px;
}
/* line 196, ../scss/signup.scss */
.signup-page .signup-form .form-button .next > span {
  color: #333437;
}
/* line 208, ../scss/signup.scss */
.signup-page .signup-complete .signup-head {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url('images/sign-up-complete.png?1472143917') 20px 100% no-repeat;
  background-size: 130px auto;
  height: 180px;
  padding: 80px 20px 0 180px;
}
/* line 216, ../scss/signup.scss */
.signup-page .signup-complete .signup-information {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #dadade;
  overflow: hidden;
}
/* line 223, ../scss/signup.scss */
.signup-page .signup-complete .info-head {
  overflow: hidden;
  *zoom: 1;
  background: #333437;
  height: 70px;
}
/* line 228, ../scss/signup.scss */
.signup-page .signup-complete .info-head .info-logo {
  background: url("../img/common/new-keepo-logo-k.png") 18px 15px no-repeat;
  background-size: 20px auto;
  display: block;
  height: 70px;
  float: left;
  width: 90px;
}
/* line 237, ../scss/signup.scss */
.signup-page .signup-complete .info-head .info-title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  padding-left: 110px;
  width: 100%;
}
/* line 245, ../scss/signup.scss */
.signup-page .signup-complete .info-head .title-box {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 70px;
  vertical-align: middle;
}
/* line 251, ../scss/signup.scss */
.signup-page .signup-complete .info-head .title-box p {
  margin: 0;
  padding: 0;
}
/* line 256, ../scss/signup.scss */
.signup-page .signup-complete .info-head .title-box .title {
  font-size: 24px;
  font-weight: 600;
}
/* line 261, ../scss/signup.scss */
.signup-page .signup-complete .info-head .title-box .txt {
  font-size: 14px;
}
/* line 267, ../scss/signup.scss */
.signup-page .signup-complete .info-content {
  overflow: hidden;
  *zoom: 1;
  padding: 25px 12px 25px;
}
/* line 271, ../scss/signup.scss */
.signup-page .signup-complete .info-content .photo {
  float: left;
}
/* line 274, ../scss/signup.scss */
.signup-page .signup-complete .info-content .photo .img {
  -webkit-align-items: center;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
  border: 2px dashed #dadade;
  color: #7d7e88;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 288, ../scss/signup.scss */
.signup-page .signup-complete .info-content .photo .img .keepo-icon {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 26px;
  left: 50%;
  line-height: 1;
  position: absolute;
  top: 50%;
  z-index: 3;
}
/* line 297, ../scss/signup.scss */
.signup-page .signup-complete .info-content .photo .img .keepo-icon::before {
  margin: 0;
}
/* line 302, ../scss/signup.scss */
.signup-page .signup-complete .info-content .photo .img img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  width: auto;
  z-index: 4;
}
/* line 313, ../scss/signup.scss */
.signup-page .signup-complete .info-content .account-info {
  display: block;
  padding-left: 98px;
}
/* line 317, ../scss/signup.scss */
.signup-page .signup-complete .info-content .account-info > div[class^="info"] {
  border-bottom: 1px solid #dadade;
  display: table;
  margin-top: 10px;
  width: 100%;
}
/* line 323, ../scss/signup.scss */
.signup-page .signup-complete .info-content .account-info > div[class^="info"]:first-child {
  margin-top: 0;
}
/* line 327, ../scss/signup.scss */
.signup-page .signup-complete .info-content .account-info > div[class^="info"] .label,
.signup-page .signup-complete .info-content .account-info > div[class^="info"] .data {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  font-size: 14px;
  padding: 4px 0;
  width: auto;
}
/* line 336, ../scss/signup.scss */
.signup-page .signup-complete .info-content .account-info > div[class^="info"] .label {
  color: #7d7e88;
  padding: 0 10px 0 2px;
  width: 110px;
}
/* line 342, ../scss/signup.scss */
.signup-page .signup-complete .info-content .account-info > div[class^="info"] .data {
  color: #333437;
}
/* line 349, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot {
  padding-top: 5px;
}
/* line 354, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .text-area p {
  color: #fff;
  font-size: 12px;
  margin: 15px 0 0 0;
}
/* line 359, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .text-area p:first-child {
  margin-top: 0;
}
/* line 363, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .text-area p a {
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #fff;
  text-decoration: underline;
}
/* line 371, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .button-area {
  overflow: hidden;
  *zoom: 1;
  margin-top: 25px;
}
/* line 375, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .button-area li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 52px;
  float: left;
  padding: 0 5px 0 0;
  width: 50%;
}
/* line 383, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .button-area li:nth-child(even) {
  padding: 0 0 0 5px;
}
/* line 387, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .button-area li a {
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #212121 0 2px 0;
  -webkit-box-shadow: #212121 0 2px 0;
  box-shadow: #212121 0 2px 0;
  background: #333437;
  cursor: pointer;
  color: #fff;
  display: block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
/* line 402, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .button-area li a:hover {
  background: #212121;
}
/* line 409, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .button-area li.finish a {
  -moz-box-shadow: #099ca5 0 2px 0;
  -webkit-box-shadow: #099ca5 0 2px 0;
  box-shadow: #099ca5 0 2px 0;
  background: #00bac6;
}
/* line 413, ../scss/signup.scss */
.signup-page .signup-complete .signup-foot .button-area li.finish a:hover {
  background: #099ca5;
}
/* line 423, ../scss/signup.scss */
.signup-page .grey-area {
  background: #7d7e88;
  bottom: 0;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}

/* line 436, ../scss/signup.scss */
.loading {
  position: relative;
  height: 200px;
}

/* line 441, ../scss/signup.scss */
.loading .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48px 0 0 -48px;
  font-size: 96px;
  color: #FFF;
  height: 50px;
  width: 50px;
}

/* line 452, ../scss/signup.scss */
.loading .loader-icon.spinning-cog {
  -webkit-animation: spinning-cog 1.3s infinite ease;
  -moz-animation: spinning-cog 1.3s infinite ease;
  -ms-animation: spinning-cog 1.3s infinite ease;
  -o-animation: spinning-cog 1.3s infinite ease;
  animation: spinning-cog 1.3s infinite ease;
}

@-webkit-keyframes spinning-cog {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinning-cog {
  0% {
    -moz-transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spinning-cog {
  0% {
    -o-transform: rotate(0deg);
  }
  20% {
    -o-transform: rotate(-45deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spinning-cog {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes shrinking-cog {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes shrinking-cog {
  0% {
    -moz-transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(0);
  }
}
@-o-keyframes shrinking-cog {
  0% {
    -o-transform: scale(1);
  }
  20% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(0);
  }
}
@keyframes shrinking-cog {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
/* line 1, ../scss/_editor-loading-status.scss */
.overlay-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* line 10, ../scss/_editor-loading-status.scss */
.overlay-loader .loader-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00bac6;
  -webkit-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -moz-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -ms-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  -o-transition: background-color .2s 0s linear,right .2s .3s ease-out;
  transition: background-color .2s 0s linear,right .2s .3s ease-out;
}

/* line 24, ../scss/_editor-loading-status.scss */
.overlay-loader .loader-background.color-flip {
  -webkit-animation: color-flip 6.5s .6s infinite linear;
  -moz-animation: color-flip 6.5s .6s infinite linear;
  -ms-animation: color-flip 6.5s .6s infinite linear;
  -o-animation: color-flip 6.5s .6s infinite linear;
  animation: color-flip 6.5s .6s infinite linear;
}

@-webkit-keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
@-moz-keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
@-o-keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
@keyframes color-flip {
  0% {
    background-color: #00bac6;
  }
  18% {
    background-color: #00bac6;
  }
  20% {
    background-color: #3468af;
  }
  38% {
    background-color: #3468af;
  }
  40% {
    background-color: #ffa200;
  }
  58% {
    background-color: #ffa200;
  }
  60% {
    background-color: #00df83;
  }
  78% {
    background-color: #00df83;
  }
  80% {
    background-color: #ff5b2f;
  }
  98% {
    background-color: #ff5b2f;
  }
  100% {
    background-color: #00bac6;
  }
}
/* line 88, ../scss/_editor-loading-status.scss */
.overlay-loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48px 0 0 -48px;
  font-size: 96px;
  color: #FFF;
  height: 100px;
  width: 100px;
}

/* line 99, ../scss/_editor-loading-status.scss */
.overlay-loader .loader-icon.spinning-cog {
  -webkit-animation: spinning-cog 1.3s infinite ease;
  -moz-animation: spinning-cog 1.3s infinite ease;
  -ms-animation: spinning-cog 1.3s infinite ease;
  -o-animation: spinning-cog 1.3s infinite ease;
  animation: spinning-cog 1.3s infinite ease;
}

@-webkit-keyframes spinning-cog {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinning-cog {
  0% {
    -moz-transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spinning-cog {
  0% {
    -o-transform: rotate(0deg);
  }
  20% {
    -o-transform: rotate(-45deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spinning-cog {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes shrinking-cog {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes shrinking-cog {
  0% {
    -moz-transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(0);
  }
}
@-o-keyframes shrinking-cog {
  0% {
    -o-transform: scale(1);
  }
  20% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(0);
  }
}
@keyframes shrinking-cog {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
/* line 155, ../scss/_editor-loading-status.scss */
.overlay-loader .loader-icon.shrinking-cog {
  -webkit-animation: shrinking-cog .3s 1 ease forwards;
  -moz-animation: shrinking-cog .3s 1 ease forwards;
  -ms-animation: shrinking-cog .3s 1 ease forwards;
  -o-animation: shrinking-cog .3s 1 ease forwards;
  animation: shrinking-cog .3s 1 ease forwards;
}
