@charset "UTF-8";
@import "compass/reset/utilities";
@import "compass/utilities";
@import "compass/css3";
@import "compass/layout";
@import "compass/css3/user-interface";

// ==========================================================================
// Mixin
// ==========================================================================

//IE 7 Only, use: @include ie7('width', 0px);
@mixin ie7($property, $value){
	*#{$property}: $value;
}

//IE 8 Only, use: @include ie8('width', 0px);
@mixin ie8($property, $value){
	#{$property}:($value)+\9;
}
// End of Mixin
// ==========================================================================




// ==========================================================================
// Variable
// ==========================================================================
$default-fonts: 'Work Sans', Georgia, Times, "Times New Roman", serif;

/* color code */
$black-90: #212121;
$black-80: #333437;
$black-70: #4e4e50;
$black-60: #56575d;
$black-50: #69696c;
$black-40: #7d7e88;
$black-30: #9c9eac;
$black-25: #aaaab5;
$black-20: #c2c2c7;
$black-10: #dadade;
$black-05: #eaeaea;
$black-02: #f7f7f7;
$black: #000;
$white: #fff;
$sticky: #ffffe7;

$tosca: #00bac6;
$light-tosca: #09cfdc;
$dark-tosca: #099ca5;

$wa-shadow-green: #36a339;
$wa-green: #05c900;
$turqouise: #00df83;
$line-shadow-green: #4ad04e;
$line-green: #6bf000;
$light-green: #b2d527;

$oxford-blue: #34495e;
$fb-shadow-blue: #1a4e95;
$fb-blue: #3468af;
$blue: #0e82d3;
$light-blue: #2ea1f2;
$twitter-shadow-blue: #35aadc;
$twitter-blue: #4ec0f0;
$instagram-blue: #157097;
$link-blue: #4773ff;

$purple: #8f38d2;
$dark-lavender: #9c73da;
$lavender: #ad89e4;
$light-lavender: #bda1e9;

$blood-red: #ae1800;
$youtube-red: #d63d24;
$red: #f53400;
$vermilion: #ff5b2f;
$orange: #ff6600;
$rss-orange: #fa7e11;
$light-orange: #ffa200;
$brown: #b5784c;
$shock-pink: #f636dd;


// End of Variable
// ==========================================================================