@import "template";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600,800);

// ==========================================================================
// Default
// ==========================================================================

html{ background: $black-02; }
body { font: 12px $default-fonts; }

img{ vertical-align: text-bottom; }
button, input { outline: none; }
.no-image { 
	//background-color: #bac5d5;
	background: image-url('tile-no-image.jpg') 50% 50% no-repeat;
	background-size: cover;
	position: relative;

	i {
		display: none;
		color: $white;
		font-size: 2rem;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	
	&:hover {
		text-decoration: none;
	}

	&[disabled] {
		cursor: default;
	}
}

a.classy{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;	
}

[ng-cloak] { display: none; }

// ==========================================================================


/* button variation */
.keepo-btn{ @include display-flex; @include align-items(center); @include justify-content(center); @include transition(color .2s linear, background-color .2s linear, border-color .2s linear); text-align: center; }

/* Default */
.default-btn01{ background: $tosca; color: $white; }
.default-btn01:hover{ background: $light-tosca; }
.default-btn01:active{ background: $dark-tosca; }
.default-btn02{ background: $white; border: 1px solid $tosca; color: $tosca; }
.default-btn02:hover{ background: $tosca; color: $white; border-color: transparent; }
.default-btn02:active{ background: $tosca; color: $white; border-color: transparent; }

/* Light */
.light-btn01{ background: $black-30; color: $white; }
.light-btn01:hover{ background: $black-25; }
.light-btn01:active{ background: $black-40; }
.light-btn02{ background: $white; border: 1px solid $black-30; color: $black-30; }
.light-btn02:hover{ background: $black-30; color: $white; border-color: transparent; }
.light-btn02:active{ background: $black-30; color: $white; border-color: transparent; }

/* Dark */
.dark-btn01{ background: $black-80; color: $white; }
.dark-btn01:hover{ background: $black-70; }
.dark-btn01:active{ background: $black-90; }
.dark-btn02{ background: $white; border: 1px solid $black-80; color: $black-80; }
.dark-btn02:hover{ background: $black-80; color: $white; border-color: transparent; }
.dark-btn02:active{ background: $black-80; color: $white; border-color: transparent; }
.dark-btn03{ background: $black-70; color: $white; }
.dark-btn03:hover{ background: $black-50; }
.dark-btn03:active{ background: $black-50; }

/* Other */
.other-btn{ background: $lavender; color: $white; }
.other-btn:hover{ background: $light-lavender; }
.other-btn:active{ background: $dark-lavender; }

/* Rounded */
.rounded-btn{ @include border-radius(17px); }

/* Rectangle */
.rectangle-btn{ @include border-radius(5px); }
/* Default + rectangle */
.default-btn01.rectangle-btn{ @include box-shadow($dark-tosca 0 2px 0); }
.default-btn01.rectangle-btn:hover{ @include box-shadow($tosca 0 2px 0); }
.default-btn02.rectangle-btn{ @include box-shadow($light-tosca 0 2px 0); }
.default-btn02.rectangle-btn:hover{ @include box-shadow($dark-tosca 0 2px 0); }
/* Light + rectangle */
.light-btn01.rectangle-btn{ @include box-shadow($black-40 0 2px 0); }
.light-btn01.rectangle-btn:hover{ @include box-shadow($black-30 0 2px 0); }
.light-btn02.rectangle-btn{ @include box-shadow($black-25 0 2px 0); }
.light-btn02.rectangle-btn:hover{ @include box-shadow($black-25 0 2px 0); }
/* Dark + rectangle */
.dark-btn01.rectangle-btn{ @include box-shadow($black-90 0 2px 0); }
.dark-btn01.rectangle-btn:hover{ @include box-shadow($black-80 0 2px 0); }
.dark-btn02.rectangle-btn{ @include box-shadow($black-70 0 2px 0); }
.dark-btn02.rectangle-btn:hover{ @include box-shadow($black-80 0 2px 0); }

.default-btn01.rectangle-btn:active,
.default-btn02.rectangle-btn:active,
.light-btn01.rectangle-btn:active,
.light-btn02.rectangle-btn:active,
.dark-btn01.rectangle-btn:active,
.dark-btn02.rectangle-btn:active{ @include box-shadow(none); }


/* Animate */
.animate-btn {
	position: relative;
	overflow: hidden;

	span {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, .25);
		@include transition(width .5s ease-in);
	}
}



/* Category Variation */
.category-tag {
	@include border-radius(3px);
	background-color: $black-25;
	color: white;
	display: inline-block;
	font-size: 10px;
	font-weight: 600;
	height: 20px;
	line-height: 20px;
    padding: 0 5px;
	text-transform: uppercase;

    &:hover{
    	background-color: $black-40;
    }

    &.cute { background-color: #66576a; }
    &.ask { background-color: #a85283; }
    &.creepy { background-color: $black-80; }
    &.entertainments { background-color: #d27957; }
    &.facts { background-color: #cf9271; }
    &.acg { background-color: #a9c2a7; }
    &.art-design { background-color: #255559; }
    &.inspiration { background-color: #aeba00; }
    &.lifestyle { background-color: $tosca; }
    &.lol { background-color: #4be1d1; }
    &.meme { background-color: #afa7cc; }
    &.news { background-color: #ccc5a7; }
    &.nsfw { background-color: #a87878; }
    &.sports { background-color: #484860; }
    &.tech { background-color: #787878; }
    &.travel { background-color: #906078; }
    &.unique { background-color: #bda488; }
    &.shocking { background-color: #8a6d60; }

    &.cute:hover, &.ask:hover, &.creepy:hover, &.entertainments:hover,
    &.facts:hover, &.acg:hover, &.art-design:hover, &.inspiration:hover,
    &.lifestyle:hover, &.lol:hover, &.meme:hover, &.news:hover, &.nsfw:hover,
    &.sports:hover, &.tech:hover, &.travel:hover, &.unique:hover,
    &.shocking:hover{ opacity: 0.7; }
}


/* Date Picker UI */
.ui-datepicker{
	font-family: $default-fonts;
	font-size: 16px;

	.ui-widget-header,
	.ui-datepicker th{
		font-weight: 600 !important;
	}

	.ui-widget-header{
		background: $black-05;
	}

	td{
		padding: 2px;
		width: 14.28571428571429%;
	}

	.ui-state-default,
	.ui-widget-content
	.ui-state-default,
	.ui-widget-header .ui-state-default{
		border: 1px solid $black-10;
	    background: $black-02;
	    font-weight: normal;
	    color: $black-80;
	}

	.ui-state-highlight{
		border: 1px solid $black-10;
	    background: $white;
	    color: $black-80;
	}

	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active{
		border: 1px solid $dark-tosca;
	    background: $tosca;
	    font-weight: normal;
	    color: #fff;
	}
}

// End of Default
// ==========================================================================


// ==========================================================================
// Header
// ==========================================================================

.main-header{
	@include clearfix();
	background: $black-90;
	height: 60px;
	left: 0;
	overflow: visible;
	padding: 0 30px 0 26px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5;

	.logo{
		@include box-sizing(border-box);
		float: left;
		height: 60px;
		margin-right: 15px;
		padding: 12px 0 13px;
		width: 155px;

		a{
			display: block;
			height: 35px;
			padding: 4px;
			vertical-align: middle;
		}

		span{
			background: url('../img/common/logo.svg') 0 0 no-repeat;
			background-size: 100% 100%;
			display: block;
			height: 27px;
			text-indent: -9999px;
		}
	}

	i{
		font-size: 20px;
		padding: 5px 0;
	}

	.search-bar{
		display: none;
		height: 45px;
		// left: 50%;
		left: -445px;
		position: absolute;
		top: 60px;
		width: 676px;
		z-index: 1;

		input{
			@include box-sizing(border-box);
			border: none;
			float: left;
			//font-weight: bold;
			height: 45px;
			line-height: 45px;

			&:hover,&:active,&:focus{
				outline: none;
			}
		}

		input[type="text"]{
			@include input-placeholder {
				color: $black-60;
			}
			background: $black-80;
			color: $white;
			font-size: 14px;
			padding: 0 20px;
			width: 546px;
		}

		input[type="submit"]{
			background: $tosca;
			cursor: pointer;
			color: $white;
			font-size: 14px;
			text-transform: uppercase;
			width: 130px;
		}
	}
}

.main-nav{
	float: left;

	ul{
		@include display-flex ;
		@include flex-flow(row wrap);
		@include justify-content(flex-start);

		li{
			a{
				@include transition(color 0.35s ease);
				color: $black-40;
				display: block;
				text-decoration: none !important;
			}

			&.hide{
				display: none;
			}

			&.active a,& a:hover{
				color: $tosca;
			}
		}

		.more{

			a{
				padding-right: 26px;
				position: relative;

				i{
					@include translateY(-50%);
					position: absolute;
					right: 0;
					top: 50%;
				}
			}

			&:hover{
				ul{
					display: block;
				}
			}
		}

		ul{
			@include clearfix();
			background: $black-80;
			display: none;
			position: absolute;
			left: -305px;
			padding: 10px 0 25px;
			top: 60px;
			width: 390px;
			z-index: 2;

			li{
				font-size: 12px !important;
				float: left;
				text-transform: uppercase;
				width: 50%;

				a{
					padding: 10px 35px !important;
					line-height: 15px;
				}
			}
		}
	}

	&>ul>li{
		display: list-item;
		font-size: 14px !important;
		font-weight: 600;
		position: relative;

		&>a{
			line-height: 60px !important;
			height: 60px !important;
			padding: 0 12px;
		}
	}
}

.quick-nav{
	float: right;
	font-size: 0;
	padding: 12px 0 13px;

	&>a{
		color: $white;
		float: left;
		font-size: 14px;
		font-weight: 600;
		height: 35px;
		line-height: 35px;
		margin-left: 10px;
		min-width: 35px;

		&:first-child{
			margin-left: 0;
		}

		i + span{
			display: none;
			padding: 0 10px 0 5px;
		}
	}

	a:hover{
		@include transition(background 0.35s ease);
		text-decoration: none;
		color: $white;
	}

	.sign-in,
	.sign-up{
		padding: 0 15px;
	}

	.user{
		display: inline-block;
		margin-left: 10px;
		padding-bottom: 13px;
		position: relative;

		&:hover .user-nav{
			display: block;
		}

		&>a{
			color: $white;
			display: block;
			padding: 0 15px 0 0;
			position: relative;
		}

		.actor-thumb{
			@include border-radius(17px);
			display: block;
			height: 35px;
			width: 35px;
			overflow: hidden;
			text-align: center;

			img{
				height: auto;
				width: auto;
				max-height: 100%;
				max-width: 100%;
			}
		}

		.notification{
			@include border-radius(10px);
			@include translateY(-50%);
			background: $red;
			font-size: 12px;
			height: 20px;
			left: 30px;
			line-height: 20px;
			position: absolute;
			text-align: center;
			width: 20px;
			top: 50%;
		}

		.user-nav{
			background: $black-80;
			display: none;
			padding: 10px 0 20px;
			position: absolute;
			right: -30px;
			top: 48px;
			width: 200px;

			a{
				@include display-flex;
				@include align-items(center);
				height: 35px;
				line-height: 35px;
				text-transform: uppercase;
				padding: 0 25px;

				i{
					color: $white;
					font-size: 20px;

					&.icon-my-draft{
						font-size: 18px;
					}
				}

				span{
					@include transition(color 0.35s ease);
					color: $black-40;
					font-size: 12px;
					padding-left: 10px;
				}

				&:hover:not([disabled]) span,
				&.active:not([disabled]) span{
					color: $tosca;
				}

				// ==========================================================================
				
				&[disabled] {
					&, span, i { color: $black-60; }
				}
			}

			li{
				position: relative;

				.notif-icon{
					@include border-radius(3px);
					@include translateY(-50%);
					background: $red;
					display: none;
					height: 6px;
					padding: 0;
					position: absolute;
					right: 25px;
					top: 50%;
					width: 6px;
				}

				&.notif-on{

					.notif-icon{
						display: block;
					}
				}
			}
		}
	}
}

// End of Header
// ==========================================================================


// ==========================================================================
// Notification Activation Email
// ==========================================================================

.notification-wrapper{
	@include box-sizing(border-box);
	@include display-flex;
	@include flex-wrap(nowrap);
	@include justify-content(center);
	height: 88px;
	margin-bottom: 20px;
	padding-top: 52px;
	margin-top: 70px;

	.notif-text{
		@include box-sizing(border-box);
		border: 1px solid $black-10;
		background: $sticky;
		font-size: 12px;
		padding: 0 20px 0 90px;
		position: relative;

		&::after{
			background: image-url("police-dasgan.png") 0 0 no-repeat;
			bottom: 0;
			content: " ";
			display: block;
			height: 88px;
			left: 7px;
			position: absolute;
			width: 73px;
		}

		span{
			background: $black;
			color: $white;
			display: block;
			height: 22px;
			left: 75px;
			line-height: 22px;
			padding: 0 16px;
			position: absolute;
			top: -23px;
		}

		& > p{
			color: $black;
			line-height: 34px;
			margin: 0;
			padding: 0;

			a{
				color: $link-blue;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	// ==========================================================================
	
	& + .main-container { margin-top: 0 !important; }
}

// Notification Activation Email
// ==========================================================================




// ==========================================================================
// Content
// ==========================================================================
.main-container{
    margin: 80px 40px 20px 40px;
    position: relative;

    &.detail-article,
    &.detail-listicle{
    	margin: 60px 0 20px;
    }

    &.detail-video{
    	margin-top: 110px;
    }

	&.detail-gallery,
	&.detail-meme{
		background: $black-80;
		margin: 0;
		min-width: 1200px;
	}

	&.detail-gallery{
		padding: 60px 0 20px 0;
	}

	&.search-page{
		margin: 80px 10px 20px;
	}
}

// End of Content Placeholder
// ==========================================================================


// ==========================================================================
// Footer
// ==========================================================================

// End of Footer
// ==========================================================================


// ==========================================================================
// Search Page ➔  Search Container
// ==========================================================================

.search-page .search-wrap{
	@include display-flex;
	@include flex-wrap(nowrap);
	@include justify-content(center);
	margin-bottom:20px;

	.search-container{
		position: relative;

		.search-input{
			margin: 0 5px;
		}

		input[type="text"]{
			@include box-sizing(border-box);
			@include input-placeholder { color: $black-20; }
			background: $white;
			border: 1px solid $black-10;
			color: $black-80;
			font-size: 16px;
			height: 50px;
			line-height: 50px;
			padding-left: 85px;
			width: 100%;
		}

		&:before{
			content: "Search:";
			bottom: 0;
			color: $black-80;
			display: block;
			height: 48px;
			font-size: 16px;
			line-height: 48px;
			left: 6px;
			position: absolute;
			text-align: right;
			top: 1px;
			width: 80px;
		}

		.no-result{
			@include box-sizing(border-box);
			font-size: 16px;
			font-weight: 600;
			margin: 40px 0;
			padding: 0 5px;
			text-align: center;

			p{
				margin: 0;
			}

			span{
				font-weight: normal;
			}
		}
	}
}

// End of Search Page ➔  Search Container
// ==========================================================================


// ==========================================================================
// Pop Up
// ==========================================================================
.popup-wrap{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5;
}

.overlay{
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.popup{
	@include translate(-50%, -50%);
	left: 50%;
	position: absolute;
	top: 50%;
	width: 425px;
	z-index: 1;

	.pop-head{
		background: $black-80;
		display: table;
		height: 40px;
		line-height: 40px;
		width: 100%;

		.pop-title,
		.close{
			display: table-cell;
			width: auto;
		}

		.pop-title{
			color: $white;
			font-size: 16px;
			font-weight: 600;
			padding: 0 25px;
		}

		.close{
			vertical-align: middle;
			width: 40px;

			a{
				@include transition(color .2s linear);
				color: $white;
				display: block;
				font-size: 0;
				line-height: 40px;
				text-align: center;

				.keepo-icon{
					display: inline-block;
					font-size: 26px;
					line-height: 1;
					vertical-align: middle;

					&::before{
						margin: 0;
					}
				}

				&:hover{
					color: $black-05;
				}
			}
		}
	}

	.banner-notif{
		position: relative;

		&::before{
			border: 1px solid $black-10;
			bottom: 0;
			content: " ";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.pop-content{
		@include box-sizing(border-box);
		background: $white;
		border-color: $black-10;
		border-style: solid;
		border-width: 0 1px 1px;
		padding: 20px 24px 25px;

		&.pop-login{
			padding: 15px 24px 28px;

			.separator{
				color: $black-30;
				font-size: 16px;
				line-height: 1;
				margin: 12px 0;
				text-align: center;
				text-transform: uppercase;
			}

			.email-login{

				.input-box{
					margin-bottom: 5px;
				}

				input[type="text"],
				input[type="password"]{
					@include box-sizing(border-box);
					@include input-placeholder { color: $black-20; }
					border: 1px solid $black-10;
					color: $black-80;
					font-size: 16px;
					height: 40px;
					padding: 0 15px;
					width: 100%;
				}

				input[type=submit] { border: none; }
			}

			.button-area{
				margin-top: 0;
			}

			.option-box{
				@include clearfix();
				margin-top: 12px;

				.remember-me{
					color: $black-80;
					float: left;
					font-size: 12px;

					input[type="checkbox"]{
						@include box-sizing(border-box);
						margin-right: 5px;
						padding: 0;
						position: relative;
					    top: 2px;
					}
				}

				.forgot-password{
					float: right;

					a{
						color: $black-80;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}

			// ==========================================================================
			
			.login-error {
				margin-bottom: 20px;
				color: red;
				text-align: center;

				p { margin: 0; }
			}
		}

		&.pop-delete{
			padding-bottom: 35px;
		}

		&.pop-sticker{
			padding: 12px 4px 10px 24px;

			.scroll-pane,
			.sticker-list,
			.emoticon-list{
				max-height: 270px;
				overflow: hidden;

				.jspVerticalBar{
					width: 5px;
				}
			}

			.tab-area{
				@include clearfix();
				margin-bottom: 15px;
				padding-right: 20px;
				text-align: center;

				li{
					@include box-sizing(border-box);
					float: left;
					padding: 0 8px 4px 0;
					width: 50%;

					&:nth-child(even){
						padding: 0 0 4px 8px;
					}

					&:nth-child(n+3){
						margin-top: 10px;
					}

					a{
						@include box-sizing(border-box);
						background: $white;
						border: 1px solid $black-10;
						color: $black-40;
						display: block;
						height: 36px;
						font-size: 14px;
						line-height: 34px;
						position: relative;

						&::after{
							@include box-sizing(border-box);
							background: $black-05;
							border-color: $black-10;
							border-style: solid;
							border-width: 0 1px 1px;
							bottom: -5px;
							content: " ";
							height: 4px;
							left: -1px;
							position: absolute;
							right: -1px;
						}
					}

					&.active a,
					& a:hover{
						background: $black-05;
						border-bottom: 1px solid $black-05;
					}
				}
			}

			.sticker-list,
			.emoticon-list{
				display: none;

				&.show{
					display: inherit;
				}

				ul{
					@include clearfix();

					li{
						float: left;
						margin-left: 15px;
						width: 50px;

						&:nth-child(6n+1){
							clear: both;
							margin-left: 0;
						}

						&:nth-child(n+7){
							margin-top: 12px;
						}

						a, span{
							display: block;
						}

						a{
							color: $black-80;
						}

						.img{
							background: $black-05;
							display: block;
							height: 50px;
							overflow: hidden;
							position: relative;
							width: 50px;

							img{
								@include translate(-50%, -50%);
								font-size: 0;
								left: 50%;
								//min-height: 50px;
								//min-width: 50px;
								position: relative;
								top: 50%;
								max-width: 100%;
							}

							&::after{
								border: 1px solid $black-10;
								bottom: 0;
								content: " ";
								left: 0;
								position: absolute;
								right: 0;
								top: 0;
							}
						}

						.txt{
							font-size: 10px;
							margin-top: 10px;
							text-align: center;
						}
					}
				}
			}
		}

		&.pop-notif{

			.notif{

				p{
					line-height: 1.3;
					margin: 0;

					a{
						color: $tosca;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}

			.title{
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 10px;
			}

			.txt,
			.note{

				p{
					font-size: 14px;

					&:first-child{
						margin-top: 0;
					}
				}
			}

			.txt{
				margin-bottom: 15px;
			}
		}

		.button-area{
			margin-top: 25px;

			a, input[type=submit] {
				@include transition(background-color .2s linear);
				@include border-radius(3px);
				color: $white;
				display: block;
				font-size: 12px;
				font-weight: 600;
				height: 40px;
				line-height: 40px;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}

			&.single-btn{

				li{
					padding-bottom: 2px;
					width: 100%;
				}
			}

			&.double-btn{
				@include clearfix();
				font-size: 0;
				text-align: center;

				li{
					@include box-sizing(border-box);
					float: left;
					padding: 0 8px 2px 0;
					width: 50%;

					&:nth-child(even){
						padding: 0 0 2px 8px;
					}

					&:nth-child(n+3){
						margin-top: 10px;
					}
				}
			}

			.facebook-btn{

				a{
					@include box-shadow($fb-shadow-blue 0 2px 0);
					background: $fb-blue;

					&:hover{
						background: $fb-shadow-blue;
					}
				}
			}

			.orange-btn{

				a{
					@include box-shadow($blood-red 0 2px 0);
					background: $vermilion;

					&:hover{
						background: $blood-red;
					}
				}
			}

			.tosca-btn{

				a{
					@include box-shadow($dark-tosca 0 2px 0);
					background: $tosca;

					&:hover{
						background: $dark-tosca;
					}
				}
			}

			.disable-btn{
				text-align: center;

				span{
					@include border-radius(3px);
					background: $black-05;
					color: $black-40;
					font-size: 12px;
					display: block;
					height: 42px;
					line-height: 42px;
					text-transform: uppercase;
				}
			}
		}

		.text-area{

			.label{
				color: $black-50;
				font-size: 18px;
				font-weight: 600;
			}

			.info{
				font-size: 16px;
				color: $black-80;
			}

			.label + .info{
				margin-top: 20px;
			}
		}
	}

	.pop-foot{
		@include box-sizing(border-box);
		background: $black-02;
		border-color: $black-10;
		border-style: solid;
		border-width: 0 1px 1px;
		color: $black-80;
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		padding: 0 25px;

		p{
			margin: 0;
			padding: 0;
		}

		a{
			color: $tosca;
			margin-left: 5px;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}


// Pop Up
// ==========================================================================



// ==========================================================================
// External CSS
// ==========================================================================

@import "post-editor-popup";
@import "ads";

// End of External CSS
// ==========================================================================




// ==========================================================================
// Media Queries
// ==========================================================================

@media only screen and (max-width: 1280px) {
	.main-nav{
		.quiz,
		.nsfw{
			display: none;
		}
	}

	.quick-nav .sign-up{
		display: none;
	}

	.search-page .search-container { width: 930px; }
}

@media only screen and (min-width: 1281px) and (max-width: 1360px) {
	.main-nav{

		.submenu-quiz,
		.submenu-nsfw{
			display: none;
		}
	}

	.search-page .search-container { width: 1240px; }
}

@media only screen and (min-width: 1361px) {
	.quick-nav{

		&>a{
			padding: 0 5px;

			i + span{
				display: block;
				padding: 0 10px 0 5px;
			}
		}
	}

	.search-page .search-container { width: 1240px; }
}


// End of Media Queries
// ==========================================================================