@import "template";
@import "post-editor-default";

// ==========================================================================
// Variables
// ==========================================================================


// ==========================================================================



// ==========================================================================
// BODY
// ==========================================================================

.eb-polling-list {
	margin-top: 50px;
}

.eb-polling-separator {
	padding: 50px 0 50px;
	position: relative;

	div { border-top: 1px solid $black-05; }

	span {
		background-color: $black-80;
		@include border-radius(50%);
		cursor: pointer;
		color: $white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		height: 30px;
		width: 30px;
		@include transform(translateY(-50%) scale(0));
		@include transition(all .1s ease-in);
	}

	i::before {
		@include transform(rotate(45deg) translate3d(3px, 1px, 0));
	}

	// ==========================================================================
	
	&:hover {
		span { @include transform(translateY(-50%) scale(1)); }
	}
}

.eb-polling-item {
	padding-left: 40px;
	position: relative;

	.polling-item-header { margin-bottom: 25px; }

	.polling-item-numbers {
		color: $black-80;
		font-size: 24px;
		font-weight: 600;
	}

	.polling-item-numbers {
		position: absolute;
		top: 0;
		left: 0;
	}

	.polling-item-header {
		margin-bottom: 20px;
	}

	.polling-item-question {
		border: 1px solid $black-10;
		padding: 20px 25px;
		font-size: 24px;
		font-weight: 600;
		color: $black-80;
	}

	.polling-item-remove,
	.option-item-remove {
		background-color: $black-20;
		cursor: pointer;
		color: $white;
		@include inline-block;
		@include transition(background-color .2s ease-in);
		height: 18px;
		line-height: 18px;
		text-align: center;
		width: 18px;
		position: absolute;
		top: -30px;
		right: 0;

		&:hover,&:active { background-color: black; }
	}

	// ==========================================================================
	
	.eb-polling-options {

	}

	.option-item {
		display: block;
		border: 1px solid $black-10;
		position: relative;
		height: 90px;
		overflow: hidden;
		padding: 0 30px 0 150px;
		margin-bottom: 5px;

		&:last-child { margin-bottom: 0; }

		// ==========================================================================
		
		&.add-more {
			cursor: pointer;
			border-style: dashed;
			padding: 0;

			& > span {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 14px;
				color: $black-40;
				@include translate(-50%, -50%);
			}

			.iplus-holder {
				background-color: $black-25;
				@include border-radius(50%);
				cursor: pointer;
				color: $white;
				font-size: 20px;
				@include inline-block;
				top: 50%;
				left: 0;
				height: 30px;
				width: 30px;
				@include transform(translateY(-5%));
				margin-right: 10px;
			}

			i::before {
				@include transform(rotate(45deg) translate3d(3px, 1px, 0));
			}
		}
	}

	.option-item-image {
		background-color: $black-05;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 125px;
		color: $black-40;

		& > span {
			position: absolute;
			top: 50%;
			width: 100%;
			@include translateY(-50%);
			text-align: center;
		}

		i { font-size: 32px; }
		span span { display: block; }

		a {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			cursor: pointer;
		}
	}

	.option-item-title {
		height: 80%;
		position: relative;
		overflow: hidden;
		margin: 10px 0;

		span {
			font-size: 18px;
			font-weight: 600;
			//color: $black-20;
			position: absolute;
			top: 50%;
			left: 0;
			@include translateY(-50%);
			width: 100%;
		}
	}

	.option-item-remove {
		top: 5px;
		right: 5px;
	}

	// ==========================================================================
	
	.fileupload-pool {
		height: 290px;

		.helper_text { padding-top: 70px; }
		.from_url { bottom: 80px; }
	}
}

// ==========================================================================
